<azure-map [center]="[0, 0]" mapStyle='grayscale_dark' view='Auto' zoom="2" class="top-left">
  <zoom-control position='top-left'></zoom-control>
  <html-marker *ngIf="markerPosition" [position]="markerPosition"></html-marker>
</azure-map>
<div azure-map [center]="[0, 0]" mapStyle='road' view='Auto' [zoom]="2" class="top-right">
  <pitch-control position="top-right"></pitch-control>
  <html-marker [position]="[11.47, 48.18]"></html-marker>
</div>
<div azure-map [center]="[0, 0]" mapStyle='grayscale_light' view='Auto' zoom="2" class="bottom-left">
  <compass-control position="bottom-left"></compass-control>
</div>
<div azure-map [center]="[0, 0]" mapStyle='road_shaded_relief' view='Auto' zoom="2" class="bottom-right">
  <style-control position="bottom-right"></style-control>
</div>
