azure-map {
  position:absolute;
  width:100%;
  min-width:290px;
  height:100%;
}

:host ::ng-deep .infobox {
  max-width: 250px;
  padding: 10px;
  font-size: 12px;
}

:host ::ng-deep .infobox-2 {
  max-width: 250px;
  padding: 10px;
  font-size: 12px;
  color: white;
}
